.disclaimer-note-text {
  font-size: medium;
  padding: 0.5rem;
}

.disclaimer-note-box {
	background-color: rgba(240, 248, 255, 0.3);
	width: 80vw;
	margin: auto;
	border-radius: 1rem;
}

@media (min-width: 1270px) {
  .disclaimer-note-box {
    background-color: rgba(240, 248, 255, 0.3);
    width: 30vw;
    margin: auto;
    border-radius: 1rem;
  }
}